$color_1: black;
$color_2:pink;
$color_3: white;
$font-family_1: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$background-color_1: #ffffff;
$background-color_2:  #FAACA8;
$background-color_3: #FFDEE9;
$background-color_4: #FBAB7E;
$rellenoServicios: "no";
$mapaColoresServicios: (1:pink, 2:violet, 3:purple);